<a href="https://colab.research.google.com/github/tcsanitesh/DataScience/blob/main/m4_case_study_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Domain – Education
focus – Data analysis

Business challenge/requirement
You are a data analyst with University of Cal USA (Not a machine learning expert yet as you still have not completed ML with Python Course :-)).The University has data of Math, Physics and Data Structure score of sophomore students. This data is stored in different files. The University has hired a data science company to do analysis of scores and find if there is any correlation of score with age, ethnicity etc. Before the data is given to the company you have to do data wrangling.

Key issues
Ensure students identify is not revealed to the agency and only relevant data is
shared
Considerations
NONE

Data volume
- In thousands, but only around 1800 records are shared in files MathScoreTerm1.csv
DSScoreTerm1.csv, PhysicsScoreTerm1.csv

Additional information
- NA

Business benefits
University can get more students enrollment by improving its international ranking
through personalized course/curriculum for students

Approach to Solve
You have to use fundamentals of Numpy and Pandas covered in module 4.
1. Read the three csv files which contains the score of same students in term1 for
each Subject
2. Remove the name and ethnicity column (to ensure confidentiality)
Module 4 – Introduction to NumPy, Pandas & Matplotlib
© B r a i n 4 c e E d u c a t i o n S o l u t i o n s P v t . L t d Page 2
3. Fill missing score data with zero
4. Merge the three files
5. Change Sex(M/F) Column to 1/2 for further analysis
6. Store the data in new file – ScoreFinal.csv

Enhancements for code
You can try these enhancements in code
1. Convert ethnicity to numerical value
2. Fill the missing score for a student to the average of the class

MathScoreTerm1.csv : https://raw.githubusercontent.com/tcsanitesh/DataScience/main/MathScoreTerm1.csv

DSScoreTerm1.csv : https://raw.githubusercontent.com/tcsanitesh/DataScience/main/DSScoreTerm1.csv

PhysicsScoreTerm1.csv : https://raw.githubusercontent.com/tcsanitesh/DataScience/main/PhysicsScoreTerm1.csv

In [30]:
import numpy as np
import pandas as pd
df_mathscore = pd.read_csv("https://raw.githubusercontent.com/tcsanitesh/DataScience/main/MathScoreTerm1.csv")
df_dssscore = pd.read_csv("https://raw.githubusercontent.com/tcsanitesh/DataScience/main/DSScoreTerm1.csv")
df_physicsscore = pd.read_csv("https://raw.githubusercontent.com/tcsanitesh/DataScience/main/PhysicsScoreTerm1.csv")

print(df_mathscore)
print(df_dssscore)
print(df_physicsscore)

                          Name  Score  Age         Ethinicity Subject Sex   ID
0               AI-KYUNG CHUNG   88.0   18     White American   Maths   M    1
1                  ALAN HARVEY   85.0   19  European American   Maths   M    2
2                 ALAN REYNAUD   45.0   19  European American   Maths   M    3
3               ALBERT CENDANA   82.0   18     White American   Maths   M    4
4               ALBERT HOLT JR   82.0   18     White American   Maths   F    5
..                         ...    ...  ...                ...     ...  ..  ...
594                    WING NG   45.0   19     White American   Maths   F  595
595                YIFANG QIAN   75.0   18     White American   Maths   M  596
596           ZACHARY PUMPHREY   53.0   20     White American   Maths   M  597
597  ZEBA IMAN NAZEERI-SIMMONS   75.0   20           Hispanic   Maths   M  598
598            ZHI JIAR ZHUANG   88.0   19           Hispanic   Maths   M  599

[599 rows x 7 columns]
                          Name  Score  Age         Ethinicity        Subject  \
0               AI-KYUNG CHUNG   82.0   18     White American  Data Structue
1                  ALAN HARVEY   79.0   19  European American  Data Structue
2                 ALAN REYNAUD   39.0   19  European American  Data Structue
3               ALBERT CENDANA   76.0   18     White American  Data Structue
4               ALBERT HOLT JR   76.0   18     White American  Data Structue
..                         ...    ...  ...                ...            ...
594                    WING NG   39.0   19     White American  Data Structue
595                YIFANG QIAN   69.0   18     White American  Data Structue
596           ZACHARY PUMPHREY   47.0   20     White American  Data Structue
597  ZEBA IMAN NAZEERI-SIMMONS   69.0   20           Hispanic  Data Structue
598            ZHI JIAR ZHUANG    NaN   19           Hispanic  Data Structue

    Sex   ID
0     M    1
1     M    2
2     M    3
3     M    4
4     F    5
..   ..  ...
594   F  595
595   M  596
596   M  597
597   M  598
598   M  599

[599 rows x 7 columns]
                          Name  Score  Age         Ethinicity  Subject Sex  \
0               AI-KYUNG CHUNG   84.0   18     White American  Physics   M
1                  ALAN HARVEY   81.0   19  European American  Physics   M
2                 ALAN REYNAUD   41.0   19  European American  Physics   M
3               ALBERT CENDANA   78.0   18     White American  Physics   M
4               ALBERT HOLT JR   78.0   18     White American  Physics   F
..                         ...    ...  ...                ...      ...  ..
594                    WING NG   41.0   19     White American  Physics   F
595                YIFANG QIAN   71.0   18     White American  Physics   M
596           ZACHARY PUMPHREY   49.0   20     White American  Physics   M
597  ZEBA IMAN NAZEERI-SIMMONS   71.0   20           Hispanic  Physics   M
598            ZHI JIAR ZHUANG   69.0   19           Hispanic  Physics   M

      ID
0      1
1      2
2      3
3      4
4      5
..   ...
594  595
595  596
596  597
597  598
598  599

[599 rows x 7 columns]

In [31]:
df_mathscore=df_mathscore.drop(["Name","Ethinicity"], axis=1)
df_dssscore=df_dssscore.drop(["Name","Ethinicity"], axis=1)
df_physicsscore=df_physicsscore.drop(["Name","Ethinicity"], axis=1)

print(df_mathscore)
print(df_dssscore)
print(df_physicsscore)

     Score  Age Subject Sex   ID
0     88.0   18   Maths   M    1
1     85.0   19   Maths   M    2
2     45.0   19   Maths   M    3
3     82.0   18   Maths   M    4
4     82.0   18   Maths   F    5
..     ...  ...     ...  ..  ...
594   45.0   19   Maths   F  595
595   75.0   18   Maths   M  596
596   53.0   20   Maths   M  597
597   75.0   20   Maths   M  598
598   88.0   19   Maths   M  599

[599 rows x 5 columns]
     Score  Age        Subject Sex   ID
0     82.0   18  Data Structue   M    1
1     79.0   19  Data Structue   M    2
2     39.0   19  Data Structue   M    3
3     76.0   18  Data Structue   M    4
4     76.0   18  Data Structue   F    5
..     ...  ...            ...  ..  ...
594   39.0   19  Data Structue   F  595
595   69.0   18  Data Structue   M  596
596   47.0   20  Data Structue   M  597
597   69.0   20  Data Structue   M  598
598    NaN   19  Data Structue   M  599

[599 rows x 5 columns]
     Score  Age  Subject Sex   ID
0     84.0   18  Physics   M    1
1     81.0   19  Physics   M    2
2     41.0   19  Physics   M    3
3     78.0   18  Physics   M    4
4     78.0   18  Physics   F    5
..     ...  ...      ...  ..  ...
594   41.0   19  Physics   F  595
595   71.0   18  Physics   M  596
596   49.0   20  Physics   M  597
597   71.0   20  Physics   M  598
598   69.0   19  Physics   M  599

[599 rows x 5 columns]

In [32]:
count_df_mathscore = df_mathscore["Score"].isna().sum()
count_df_dssscore = df_dssscore["Score"].isna().sum()
count_df_physicsscore = df_physicsscore["Score"].isna().sum()

print(count_df_mathscore)
print(count_df_dssscore)
print(count_df_physicsscore)

3
8
6

In [33]:
df_mathscore["Score"]=df_mathscore["Score"].fillna(0)
count_df_mathscore = df_mathscore["Score"].isna().sum()
print(count_df_mathscore)

0

In [34]:
df_dssscore["Score"]=df_dssscore["Score"].fillna(0)
count_df_dssscore = df_dssscore["Score"].isna().sum()
print(count_df_dssscore)
df_physicsscore["Score"]=df_physicsscore["Score"].fillna(0)
count_df_physicsscore = df_physicsscore["Score"].isna().sum()
print(count_df_physicsscore)

0
0

In [35]:
df = [df_mathscore,df_dssscore,df_physicsscore] # list of all df
df

[     Score  Age Subject Sex   ID
 0     88.0   18   Maths   M    1
 1     85.0   19   Maths   M    2
 2     45.0   19   Maths   M    3
 3     82.0   18   Maths   M    4
 4     82.0   18   Maths   F    5
 ..     ...  ...     ...  ..  ...
 594   45.0   19   Maths   F  595
 595   75.0   18   Maths   M  596
 596   53.0   20   Maths   M  597
 597   75.0   20   Maths   M  598
 598   88.0   19   Maths   M  599

 [599 rows x 5 columns],
      Score  Age        Subject Sex   ID
 0     82.0   18  Data Structue   M    1
 1     79.0   19  Data Structue   M    2
 2     39.0   19  Data Structue   M    3
 3     76.0   18  Data Structue   M    4
 4     76.0   18  Data Structue   F    5
 ..     ...  ...            ...  ..  ...
 594   39.0   19  Data Structue   F  595
 595   69.0   18  Data Structue   M  596
 596   47.0   20  Data Structue   M  597
 597   69.0   20  Data Structue   M  598
 598    0.0   19  Data Structue   M  599

 [599 rows x 5 columns],
      Score  Age  Subject Sex   ID
 0     84.0   18  Physics   M    1
 1     81.0   19  Physics   M    2
 2     41.0   19  Physics   M    3
 3     78.0   18  Physics   M    4
 4     78.0   18  Physics   F    5
 ..     ...  ...      ...  ..  ...
 594   41.0   19  Physics   F  595
 595   71.0   18  Physics   M  596
 596   49.0   20  Physics   M  597
 597   71.0   20  Physics   M  598
 598   69.0   19  Physics   M  599

 [599 rows x 5 columns]]

In [39]:
merged_df = pd.concat(df,ignore_index=True)
merged_df

      Score  Age  Subject Sex   ID
0      88.0   18    Maths   M    1
1      85.0   19    Maths   M    2
2      45.0   19    Maths   M    3
3      82.0   18    Maths   M    4
4      82.0   18    Maths   F    5
...     ...  ...      ...  ..  ...
1792   41.0   19  Physics   F  595
1793   71.0   18  Physics   M  596
1794   49.0   20  Physics   M  597
1795   71.0   20  Physics   M  598
1796   69.0   19  Physics   M  599

[1797 rows x 5 columns]

In [40]:
merged_df['Sex'] = merged_df['Sex'].replace({"M": 1, "F": 2})
merged_df

      Score  Age  Subject  Sex   ID
0      88.0   18    Maths    1    1
1      85.0   19    Maths    1    2
2      45.0   19    Maths    1    3
3      82.0   18    Maths    1    4
4      82.0   18    Maths    2    5
...     ...  ...      ...  ...  ...
1792   41.0   19  Physics    2  595
1793   71.0   18  Physics    1  596
1794   49.0   20  Physics    1  597
1795   71.0   20  Physics    1  598
1796   69.0   19  Physics    1  599

[1797 rows x 5 columns]

In [41]:
merged_df.to_csv("ScoreFinal.csv")

##Enhancment Item

Enhancements for code You can try these enhancements in code

Convert ethnicity to numerical value
Fill the missing score for a student to the average of the class

In [42]:
import numpy as np
import pandas as pd
df_mathscore = pd.read_csv("https://raw.githubusercontent.com/tcsanitesh/DataScience/main/MathScoreTerm1.csv")
df_dssscore = pd.read_csv("https://raw.githubusercontent.com/tcsanitesh/DataScience/main/DSScoreTerm1.csv")
df_physicsscore = pd.read_csv("https://raw.githubusercontent.com/tcsanitesh/DataScience/main/PhysicsScoreTerm1.csv")

print(df_mathscore)
print(df_dssscore)
print(df_physicsscore)

                          Name  Score  Age         Ethinicity Subject Sex   ID
0               AI-KYUNG CHUNG   88.0   18     White American   Maths   M    1
1                  ALAN HARVEY   85.0   19  European American   Maths   M    2
2                 ALAN REYNAUD   45.0   19  European American   Maths   M    3
3               ALBERT CENDANA   82.0   18     White American   Maths   M    4
4               ALBERT HOLT JR   82.0   18     White American   Maths   F    5
..                         ...    ...  ...                ...     ...  ..  ...
594                    WING NG   45.0   19     White American   Maths   F  595
595                YIFANG QIAN   75.0   18     White American   Maths   M  596
596           ZACHARY PUMPHREY   53.0   20     White American   Maths   M  597
597  ZEBA IMAN NAZEERI-SIMMONS   75.0   20           Hispanic   Maths   M  598
598            ZHI JIAR ZHUANG   88.0   19           Hispanic   Maths   M  599

[599 rows x 7 columns]
                          Name  Score  Age         Ethinicity        Subject  \
0               AI-KYUNG CHUNG   82.0   18     White American  Data Structue
1                  ALAN HARVEY   79.0   19  European American  Data Structue
2                 ALAN REYNAUD   39.0   19  European American  Data Structue
3               ALBERT CENDANA   76.0   18     White American  Data Structue
4               ALBERT HOLT JR   76.0   18     White American  Data Structue
..                         ...    ...  ...                ...            ...
594                    WING NG   39.0   19     White American  Data Structue
595                YIFANG QIAN   69.0   18     White American  Data Structue
596           ZACHARY PUMPHREY   47.0   20     White American  Data Structue
597  ZEBA IMAN NAZEERI-SIMMONS   69.0   20           Hispanic  Data Structue
598            ZHI JIAR ZHUANG    NaN   19           Hispanic  Data Structue

    Sex   ID
0     M    1
1     M    2
2     M    3
3     M    4
4     F    5
..   ..  ...
594   F  595
595   M  596
596   M  597
597   M  598
598   M  599

[599 rows x 7 columns]
                          Name  Score  Age         Ethinicity  Subject Sex  \
0               AI-KYUNG CHUNG   84.0   18     White American  Physics   M
1                  ALAN HARVEY   81.0   19  European American  Physics   M
2                 ALAN REYNAUD   41.0   19  European American  Physics   M
3               ALBERT CENDANA   78.0   18     White American  Physics   M
4               ALBERT HOLT JR   78.0   18     White American  Physics   F
..                         ...    ...  ...                ...      ...  ..
594                    WING NG   41.0   19     White American  Physics   F
595                YIFANG QIAN   71.0   18     White American  Physics   M
596           ZACHARY PUMPHREY   49.0   20     White American  Physics   M
597  ZEBA IMAN NAZEERI-SIMMONS   71.0   20           Hispanic  Physics   M
598            ZHI JIAR ZHUANG   69.0   19           Hispanic  Physics   M

      ID
0      1
1      2
2      3
3      4
4      5
..   ...
594  595
595  596
596  597
597  598
598  599

[599 rows x 7 columns]

In [47]:
avg_math=df_mathscore["Score"].mean()
avg_dss=df_dssscore["Score"].mean()
avg_phy=df_physicsscore["Score"].mean()
print(avg_math)
print(avg_dss)
print(avg_phy)

74.3489932885906
68.36717428087987
70.59865092748736

In [48]:
df_mathscore["Score"]=df_mathscore["Score"].fillna(avg_math)
count_df_mathscore = df_mathscore["Score"].isna().sum()
print(count_df_mathscore)
df_dssscore["Score"]=df_dssscore["Score"].fillna(avg_dss)
count_df_dssscore = df_dssscore["Score"].isna().sum()
print(count_df_dssscore)
df_physicsscore["Score"]=df_physicsscore["Score"].fillna(avg_phy)
count_df_physicsscore = df_physicsscore["Score"].isna().sum()
print(count_df_physicsscore)

0
0
0

In [50]:
df = [df_mathscore,df_dssscore,df_physicsscore]

In [51]:
merged_df = pd.concat(df,ignore_index=True)
merged_df

,Name,Score,Age,Ethinicity,Subject,Sex,ID
0,AI-KYUNG CHUNG,88.0,18,White American,Maths,M,1
1,ALAN HARVEY,85.0,19,European American,Maths,M,2
2,ALAN REYNAUD,45.0,19,European American,Maths,M,3
3,ALBERT CENDANA,82.0,18,White American,Maths,M,4
4,ALBERT HOLT JR,82.0,18,White American,Maths,F,5
...,...,...,...,...,...,...,...
1792,WING NG,41.0,19,White American,Physics,F,595
1793,YIFANG QIAN,71.0,18,White American,Physics,M,596
1794,ZACHARY PUMPHREY,49.0,20,White American,Physics,M,597
1795,ZEBA IMAN NAZEERI-SIMMONS,71.0,20,Hispanic,Physics,M,598
1796,ZHI JIAR ZHUANG,69.0,19,Hispanic,Physics,M,599

In [52]:
list_eth = merged_df["Ethinicity"].unique()
#df_dssscore = pd.read_csv("https://raw.githubusercontent.com/tcsanitesh/DataScience/main/DSScoreTerm1.csv")
#df_physicsscore = pd.read_csv("https://raw.githubusercontent.com/tcsanitesh/DataScience/main/PhysicsScoreTerm1.csv")

print(list_eth)
#print(df_dssscore)
#print(df_physicsscore)

['White American' 'European American' 'Hispanic' 'African American']

In [55]:
ethnicity_mapping = {
    'White American': 1,
    'European American': 2,
    'Hispanic': 3,
    'African American': 4,
    'Other': 5,
}

merged_df['Ethinicity'] = merged_df['Ethinicity'].replace(ethnicity_mapping)

In [57]:
merged_df.to_csv("Enhanced_file.csv")